<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Management System</title>
</head>
<body>
<h1>Document Management System</h1>
<h2>Upload Document</h2>
<form th:action="@{'/upload'}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
</form>
<h2>Document List</h2>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="document : ${documents}">
        <tr th:if="${document.author.department.name == #authentication.principal.department.name}">
            <td th:text="${document.name}"></td>
            <td th:text="${document.type}"></td>
            <td th:text="${document.author.getUsername()}"></td>

            <td>
                <form th:action="@{'/view/' + ${document.id}}" th:method="get">
                    <button type="submit">View</button>
                </form>
                <form th:action="@{'/verify/' + ${document.id}}" th:method="get">
                    <button type="submit">Verify</button>
                </form>
                <form th:action="@{'/delete/' + ${document.id}}" th:method="post">
                    <button type="submit">Delete</button>
                </form>
                <form th:action="@{'/download/' + ${document.id}}" th:method="get">
                    <button type="submit">Download</button>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<div th:if="${mess}" th:text="${mess}"></div>

</body>
</html>